{% extends "base.html" %}
{% load i18n %}

{% block content %}
<style type="text/css">
	body{
		background-color: white;
	}
</style>
<div class="x_panel">
    <div class="x_title">
        <hr class="ribbed-black">
			<h1 class='fg-white leader'><b>{% trans "Cambiar Contraseña" %}</b></h1>
		<hr>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="col-md-12 col-sm-12 col-xs-12">
	        <div class="col-md-1 col-sm-1 col-xs-0">
	        	
	        </div>
	        <div class="col-md-3 col-sm-3 col-xs-12">
	        	<br>
	        	<br>
	        	<br>
	        	<img src="/static/images/logo7.png" class="img-responsive avatar-view" style="width: 100%; background-color: rgba(255,255,255,0); border: 1px solid rgba(255,255,255,0);" >
	        </div>
	        <div class="col-md-1 col-sm-1 col-xs-0">
	        	
	        </div>
	        <div class="col-md-5 col-sm-5 col-xs-12">
	        	<br>
	        	<br>
	        	<br>
	        	{% if validlink %}

				<form method="post" action=".">
					{% csrf_token %}
					<table class="table">
						<tr>
							<th>{{form.new_password1.label}}</th>
							<td><input id="id_new_password1" name="new_password1" type="password" class="form-control"></td>
						</tr>
						<tr>
							<td></td>
							<td><ul><li>Su contraseña no puede asemejarse tanto a su otra información personal.</li><li>Su contraseña debe contener al menos 8 caracteres.</li><li>Su contraseña no puede ser una clave utilizada comunmente.</li><li>Su contraseña no puede ser completamente numérica.</li></ul></td>
						</tr>
						<tr>
							<th>{{form.new_password2.label}}</th>
							<td><input id="id_new_password2" name="new_password2" type="password" class="form-control"></td>
						</tr>
						<tr>
							<td></td>
							<td><ul><li>Su contraseña no puede asemejarse tanto a su otra información personal.</li><li>Su contraseña debe contener al menos 8 caracteres.</li><li>Su contraseña no puede ser una clave utilizada comunmente.</li><li>Su contraseña no puede ser completamente numérica.</li></ul></td>
						</tr>
					</table>
				    <input type="submit" value="Cambiar mi Contraseña"  class="btn btn-success" />
				</form>
				<br>
				<br>
				<br>
				{% else %}

				<p>{% trans "Password reset failed" %}</p>

				{% endif %}

	        </div>
	        <div class="col-md-2 col-sm-2 col-xs-0">
	        	
	        </div>
    	</div>

		<center>


		<hr>
		<h1 class='fg-white' >G.A.D.P</h1>
		<h4 class='fg-white' >Gobierno Autónomo Departamental de Potosí</h4>
		<hr>
		</center>
    </div>
</div>

{% endblock %}