{% extends "base.html" %}
{% load i18n %}

{% block content %}
<style type="text/css">
	body{
		background-color: white;
	}
</style>
<div class="x_panel">
    <div class="x_title">
        <hr class="ribbed-black">
			<h1 class='fg-white leader'><b>{% trans "Revisa tu correo electrónico" %}</b></h1>
		<hr>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="col-md-12 col-sm-12 col-xs-12">
	        <div class="col-md-2 col-sm-2 col-xs-0">
	        	
	        </div>
	        <div class="col-md-4 col-sm-4 col-xs-12">
	        	<img src="/static/images/logo7.png" class="img-responsive avatar-view" style="width: 45%; background-color: rgba(255,255,255,0); border: 1px solid rgba(255,255,255,0);" >
	        </div>
	        <div class="col-md-4 col-sm-4 col-xs-12">
	        	<br>
	        	<br>
	        	<br>
	        	<h4>
				Hemos enviado un correo electrónico. Haz clic en el enlace dentro del correo electrónico para restablecer tu contraseña.
	        	<br>
				<br>
				Si no ves el correo electrónico en tu bandeja de entrada, revisa otros lugares donde podría estar, como tus carpetas de correo no deseado, sociales u otras.
				</h4>
	        </div>
	        <div class="col-md-2 col-sm-2 col-xs-0">
	        	
	        </div>
    	</div>

		<center>


		<hr>
		<h1 class='fg-white' >G.A.D.P</h1>
		<h4 class='fg-white' >Gobierno Autónomo Departamental de Potosí</h4>
		<hr>
		</center>
    </div>
</div>
<script type="text/javascript">

</script>

{% endblock %}
